.root {
  display: flex;
  justify-content: flex-end;
  & > button {
    padding: 0;
  }
}
.list {
  & li, a {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 0.75rem;
  }
}
