.navigation {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  row-gap: 26px;
  padding: 72px 24px 110px 0;
  min-height: 100%;
  border-right: 1px solid var(--dark-300);
  position: fixed;

  & > a {
    padding-left: 0;
    padding-right: 0;
  }

  & > button {
    padding-left: 0;
    padding-right: 0;
  }

  @media (width <= 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 16px;
    border-right: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: auto;
    background: black;
    z-index: 3;

    span {
      display: none;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 171%;
  color: var(--light-100) !important;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  &:nth-child(6) {
    @media (width >= 768px) {
      margin-top: 36px;
    }
  }

  &:last-child {
    @media (width >= 768px) {
      // margin-top: auto;
    }
  }

  &:hover {
    color: var(--primary-500) !important ;
  }

  &:focus-visible {
    border: 2px solid var(--primary-700) !important;
    border-radius: 2px;
  }

  &:active {
    color: var(--primary-500);

    svg {
      stroke: var(--primary-500);
    }
  }

  &.active {
    color: var(--primary-500);
  }

  @media (width <= 768px) {
    flex-direction: row;
    padding: 0 !important;
  }
}

.active {
  color: var(--primary-500);
}

.disabled {
  color: var(--dark-100);
  cursor: default;

  &:hover {
    color: var(--dark-100);
  }

  &:active {
    color: var(--dark-100);

    svg {
      stroke: var(--dark-100);
    }
  }
}
