.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 100%;

  @media (width >=768px) {
    padding: 24px;
  }
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  gap: 12px;
  padding: 36px 0 117px;
}

.swiperSmall {
  img {
    height: 120px;
    object-fit: cover;
  }
}

.swiperLarge {
  img {
    height: 240px;
  }
}

/* stylelint-disable selector-class-pattern */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  background: var(--dark-500);
  opacity: 0.7;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: var(--light-100);

  svg {
    width: 7px;
    height: 14px;
    fill: var(--light-100);
  }

  &:hover {
    color: var(--primary-500);
    background: var(--dark-500);
    opacity: 1;
  }
}

:global(.swiper-pagination) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%) !important;
  border-radius: 2px;
  max-width: 78px;
  background: rgba($color: #333, $alpha: 50%);
}

:global(.swiper-pagination-bullet) {
  height: 6px;
  width: 6px;
  background: var(--light-100);
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  opacity: 1;
  background: var(--primary-500);
}

/* stylelint-enable selector-class-pattern */

.modalText {
  & > span {
    font-weight: 700;
  }
}
