.header {
  border-bottom: 1px solid var(--dark-300);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: var(--dark-700);
}

.headerBody {
  min-height: 60px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
